/* modify bs */
:root {
  --bs-success-rgb: 37, 146, 104;
}
.btn-success {
  --bs-btn-bg: #259268;
  --bs-btn-border-color: #259268;
  --bs-btn-hover-bg: #1cad8e;
  --bs-btn-hover-border-color: #1cad8e;
  --bs-btn-active-bg: #1cad8e;
  --bs-btn-active-border-color: #1cad8e;
  --bs-btn-disabled-bg: #259268;
  --bs-btn-disabled-border-color: #259268;
}
.hero-header {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hero-header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .logo-single {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  br {
    display: none;
  }
  .logo-single {
    width: 95%;
  }
  footer > nav {
    flex-direction: column;
  }
  footer > .gap-5 {
    gap: 1rem !important;
  }
}

/* general styles */

ul {
  list-style-type: "-";
  padding-inline-start: 1rem;
}
.call-now {
  background: transparent;
  border: 0;
  color: #55a447;
}
.apply-bg {
  position: relative;
  z-index: 0;
  background: url("/assets/webp/picBg.webp") no-repeat center/cover;
}
.apply-bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.apply-bg-1::before {
  background: rgba(0, 0, 0, 0.85);
}
.apply-bg-2::before {
  background: rgba(0, 0, 0, 0.8);
}
.btn-lg-mod {
  padding-left: 7rem;
  padding-right: 7rem;
  border-radius: 26px;
}
.btn-md-mod {
  padding: 1rem 4.5rem;
  border-radius: 26px;
}
footer {
  background: #4e9f44;
}
.loader {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}
.form-control:focus{
  border-color: #55a447;
  box-shadow: 0 0 0 0.25rem rgba(85, 164, 71, 0.25);
}
.bg-condition{
  background: black;
} /*condition button styling*/

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}
.my-5{
  margin-top: 2rem!important;
  margin-bottom: 0.5rem!important;
  font-size: 18px;
}
.my-6{
  margin-bottom: 3rem!important;
  font-size: 18px;
}
.clickable:hover{
  cursor:pointer;
  color:#1cad8e;
  border-right: #55a447 2px solid;
  padding-right: .2em
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }

}